h1
    text-align: center

#body
    table
        table-layout: fixed
        th
            padding-top: 0px
            padding-bottom: 5px
        td
            white-space: nowrap
            overflow: hidden
            text-overflow: ellipsis

#app
    width: 100%
    margin: auto
    position: relative
    padding: 10px

    &>div
        height: 100%

    #form
        margin-bottom: 30px

    #list
